.Avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.Avatar-img {
    border-radius: 100%;
    margin-bottom: 25px;
}

.Avatar-name {
    font-size: 26px;
    margin: 0;
}