.ProfileDetailsItem {
   display: flex;
   margin-bottom: 20px;
   align-items: center;
}

.ProfileDetailsItem > div {
   flex-basis: 50%;
}

.ProfileDetailsItem-title {
   font-size: 22px;
}

.ProfileDetailsItem-value {
   font-size: 16px;
}